* {
    padding: 0px;
    margin: 0px;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #ededed;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    flex: 6;
    min-width: 300px;
}

.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: #fff;
    
}

.in-flex div {
    padding: 25px;
    background-color: #fff;
    margin: 20px;
}

img {
    width: 100%;
    height: auto;
  }